
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

head {
    background-color: #50c585;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #bed634;
    color: #b6361f;
}

body {
    margin: 0px;
    padding: 10px;
}

h1 {
    color:#c91e1e
}

main {
    padding: 0px;
    margin: 0px;
}

footer {
    position: static;
    background-color: #232c80;
    color: #3ea83a;
    top: 24px;
    bottom: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
}


img {
    height: 200px;
}

.head_nav_link {
    color: #b6361f;
}

a {
    color: #c91e1e;
    text-decoration: none;
}

a:hover {
    background-color: #a6a7a0;
}

tr:nth-child(even) {
    background-color:#a6a7a0

}
